* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Alternate Gothic, Arial, sans-serif;
}
body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  position: fixed;
  left: 10px;
  height: 20vh;
  width: auto;
  z-index: 5;
  background-color: white;
  border-radius: 50%;
}
.copyright {
  position: absolute;
  bottom: 10px;
  margin: auto;
}
.segitiga1 {
  position: fixed;
  left: 0;
  width: 0;
  height: 0;
  border-left: 300px solid #00203fff;
  border-right: 100px solid transparent;
  border-bottom: 200px solid transparent;
  border-top: 200px solid transparent;
}
.segitiga2 {
  position: fixed;
  right: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 300px solid #00203fff;
  border-bottom: 200px solid transparent;
  border-top: 200px solid transparent;
}
.catatan {
  z-index: 5;
  position: fixed;
  right: 0;
  text-align: right;
  padding-right: 5px;
}
.catatan a {
  text-decoration: none;
  color: white;
}
.utama {
  position: relative;
  background-color: white;
  height: 490px;
  width: 600px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.utama .judul {
  position: absolute;
  background-color: #00203fff;
  width: 600px;
  height: 70px;
  top: 30px;
  left: -15px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
}
.utama .judul h1 {
  color: white;
  text-indent: 3em;
  letter-spacing: 3px;
  word-spacing: 0.3em;
}
.utama .judul::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  top: 70px;
  background-color: rgb(0, 109, 218);
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  z-index: 5;
}
.utama .judul::after {
  content: "";
  position: absolute;
  background-color: #00203fff;
  height: 15px;
  width: 15px;
  top: 70px;
}
.utama .konten {
  position: relative;
  top: 150px;
  left: 30px;
  display: flex;
}
.utama .konten hr {
  border: 3px solid #00203fff;
  background-color: #00203fff;
  border-radius: 30px;
  position: relative;
  top: -20px;
  height: 320px;
}
.utama .konten .navbar li {
  list-style-type: none;
  padding: 1.2em 1em;
  font-weight: bold;
  transition: 0.2s;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.utama .konten .navbar li:hover {
  background-color: #00203fff;
  color: white;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.utama .konten .navbar a {
  text-decoration: none;
  color: black;
}
.utama .konten .isi {
  position: relative;
  bottom: 1em;
  padding-left: 1em;
  text-align: center;
  width: 400px;
  height: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.utama .konten .isi .link {
  display: flex;
  justify-content: space-evenly;
}
.utama .konten .isi .link .image {
  position: relative;
  bottom: 100px;
  left: -150px;
}
.utama .konten .isi .link .image img {
  display: block;
  position: absolute;
  transition: 0.3s;
}
.utama .konten .isi .link .image .desc_gedung {
  position: absolute;
  width: 300px;
  height: 196.58px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.utama .konten .isi .link .image .desc_gedung:hover {
  opacity: 1;
}
.utama .konten .isi .link .kompil_flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}
.utama .konten .isi .link .kompil_flow > * {
  width: 125px;
  height: 100px;
  margin: 0.2em 1em;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
}
.utama .konten .isi .link .kompil_flow .flow1 {
  overflow-x: scroll;
  overflow-y: hidden;
}
.utama .konten .isi .link .kompil_flow .flow2 {
  overflow-x: hidden;
  overflow-y: scroll;
}
.utama .konten .isi .link .kompil_flow .flow3 {
  overflow-x: hidden;
  overflow-y: hidden;
}
.utama .konten .isi .link .desc_position > * {
  text-align: left;
}
.utama .konten .isi .link .desc_position ol {
  padding-left: 2em;
}
